
<section class="testimonial-section" id="testimonials">
    <div class="container">
      <h1 class="mb-5 fw-bold section-title" data-aos="fade-up">Hear from Our Happy Clients</h1>
      
      <div class="row">
        {% for testi in view_testimonial %}
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
         
          <div class="testimonial-card">
            <img src="{{ testi.client_image.url }}" alt="Hilmet Atyeken">
            <h5 class="card-title">{{ testi.client_name }}</h5>
            <p class="card-text">"{{ testi.client_words }}"</p>
          </div>
          
        </div>
        {% endfor %}
      </div>
      
    </div>
  </section>
  