{% extends 'base.html' %}
{% load static %}
{% block content %}




  <!-- Header Section -->
  <section class="header-section text-center py-5">
    <h1 class="display-4">UMRAH PACKAGE</h1>
    <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="{% url 'home' %}"><button class="btn btn-dark">Back to Home</button></a>
        <a href="https://wa.me/919961102203"><button class="btn btn-outline">Book a Trip</button></a>
    </div>
</section>


<!-- Full-Width Hero Image -->
<div class="full-width-image-container">
  <img src="{{ umrahdetails.hero_image.url }}" alt="Umrah Package Hero Image" class="img-fluid w-100">
</div>

 

  <!-- Package Description Section -->
  <section class="umrah-package-description py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8" data-aos="fade-right">
          <h2 class="package-title mb-4">{{ umrahdetails.title }}</h2>
          <p class="package-description">{{ umrahdetails.description }}</p>
          <h3 class="package-highlights-title my-4">Highlights</h3>
          <ul class="package-highlights-list">
            {% for highlight in umrahdetails.highlights %}
                        <li>{{ highlight }}</li>
                        {% empty %}
                        <li>No highlights listed</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-4" data-aos="fade-left">
          <div class="package-details-card p-4 rounded">
            <h4 class="details-card-title ">Package Details</h4>
            <p><strong>Duration:</strong>{{ umrahdetails.duration }}</p>
            <p><strong>Departure:</strong>{{ umrahdetails.departure_date }}</p>
            <p><strong>Price:</strong>{{ umrahdetails.price }} per person</p>
            <a href="https://wa.me/919961102203"></a><button class="btn btn-dark w-100 mt-3">Book Now</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock content %}